/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
    body {
        font-size: 20px;
    }
	header {
        display:grid;
        grid-template-columns: 0.4fr 0.7fr 0.8fr 0.3fr;
        grid-template-rows: 100px 40px;
        gap: 5px;
        background-color: #3e6a88;
    }
    #hamburgerBtn{
        display: none;
    }

    .logo-box {

       align-items: center;

    }
    .logo-box img, .logo-box-two img{
        width: 85px;
    }
    
    .content-header{
        justify-self:center;
       
    }
     .content-header h1{
         font-size: 45px;
         padding: 0;
         margin: 0;
         color:#eee;
     }

     .content-header p {
        font-size:20px;
        padding: 0;
        margin: 0;
        color:#eee;
     }

     .nav {
        grid-column: 3/4;
        grid-row: 1/2;
        justify-self: center;
        align-self: center;
        background-color: transparent;
        
    }

    nav ul#primaryNav{
        display: flex;
        position: relative;
        margin: 0 0 auto;
        width: auto;
        height: auto;
    }
    
    nav ul {
        background-color: transparent;
    }
    nav ul li{
        padding: 1rem;
        margin: 2px;
        
  
    }

    nav ul li a {
        font-size: 18px;
        color:#eee;
    }   
    nav ul li a:hover {
        color: #FFEEAD;
    } 
    
    .social {
        grid-column: 4/5;
    }

    .social img {
        width: 40px;
        border-radius: 40px;
        
    }


    .date-header {
        grid-column: 1/5;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 255px 255px 300px;
    }
	
    .event{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .hero{
        grid-column: 2/4;
        grid-row:1/3;
        /*background-image: url(/wdd230/chamber/images/sanmarcosdesktop.png);
        background-repeat: no-repeat;
        background-position: bottom center;*/
    }
    .weather{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .join{
        grid-column: 1/2;
        grid-row:3/4;
    }
    .news{
        grid-column: 2/4;
        grid-row:3/4;
    }
    .spolight{
        grid-column: 4/5;
        grid-row: 1/4;
        display:flex;
        flex-flow: column;
        row-gap:5px;
    }
    section .spotlight-3 {
        display: block;
        width: 300px;
        border: 1px solid #bbb;
	    padding: 1rem;
	    background-color: #dbf5e9;
    }

    header,
    main,
    footer {
        max-width: 1200px;
        margin: 0 auto;
}

footer {

    grid-template-rows: 130px 2px 60px;
}

.one-footer {

    grid-template-rows: 40px 40px 40px;
}
.two-footer {
    font-size: 14px;
}
}

/*----------------------------------------------------------------------------------------------------------------------
 Discover Page
 */
 .container-discover picture img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
 .container-discover picture:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}