* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1 {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: rgb(177, 233, 87);
    text-align: center;
}

h2 {
    padding: 0.25rem;
    font-size: 16px;
    text-align: center;
}

.cards {
    margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
   
}
section {
    border-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.cards section:nth-child(even) {
    background-color: rgb(199, 191, 191);
}

section img {
    width: 100%;
    height: auto;
}

p {
    text-align: center;
    padding: 3px;
}